.advantage {
    background: #FCF8F8;
    padding-top: 92px;
    padding-bottom: 73px;
}

.advantage_type {
    align-items: center;
    padding-top: 60px;
    margin-top: 92px;
    max-width: 175px;
    text-align: center;
    font-size: 21px;
    line-height: 29px;
}
.advantage_type.type_1 {
    background: url(../img/advantage_type_1.webp) no-repeat top center;
}

.advantage_type.type_2 {
    background: url(../img/advantage_type_2.webp) no-repeat top center;
}

.advantage_type.type_3 {
    background: url(../img/advantage_type_3.webp) no-repeat top center;
}

.advantage_egg {
    align-self: center;
    margin-top: 60px;
    width: 91px;
    height: 67px;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .advantage_type {
        margin-top: 60px;
    }
}

@media (max-width: 991px) {
    .advantage_type {
    font-size: 19px;
    line-height: 26px;
    }
}
@media (max-width: 767px) {
    .advantage .wrapper {
        display: table;
        margin: 0 auto;
        text-align: center;
    }

    .advantage .wrapper * {
        margin-top: 40px;
    }
}

@media (max-width: 575px) {
    .advantage {
        padding-top: 50px;
    }

    .advantage_type {
        font-size: 21px;
        width: 217px;
    }
}