.form {
    padding: 126px 0 60px 0;
    background: #FCF8F8;
}

.forma {
    border: 2px solid #99CA00;
    border-radius: 40px;
    width: 319px;
    height: 79px;
}

.forms {
    padding: 155px 0;
    background: url(../img/form_leave_1.webp) no-repeat 0 0, url(../img/form_leave_2.webp) no-repeat 100% 86%;
}

.form_name, .form_tel {
    padding: 27px 0 27px 41px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.09em;
    color: #99CA00;
    background: #FCF8F8;
}

.form_name:focus, .form_tel:focus {
    outline: none;
}

.form_name::placeholder, .form_tel::placeholder {
    color: #99CA00;
}

.form_name {
    margin-right: 31px;
}

.form_tel {
    margin-right: 57px;
}

.form_btn {
    background: linear-gradient(90deg, #C5E50A 0%, #83A916 100%), #99CA00;
    border-radius: 40px;
    border: none;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .form {
        padding: 100px 0 0 0;
    }

    .forma {
        width: 257px;
        height: 64px;
    }

    .form_btn {
        font-size: 19px;
        line-height: 26px;
    }
}

@media (max-width: 991px) {
    .forms {
        padding: 40px 29px 50px;
        margin: 52px auto 0;
        background: #fff;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        width: 315px;
        height: 387px;
    }

    .forma {
        width: 257px;
        height: 64px;
    }

    .form_tel {
        margin: 40px 0 65px;
    }

    .form_name, .form_tel {
        background: #fff;
    }
}

@media (max-width: 767px) {
    .form {
        padding: 70px 0 60px 0;
    }
}

@media (max-width: 575px) {
    .form {
        padding: 40px 0 60px;
    }

    .forms {
        width: 294px;
        height: 350px;
        padding: 25px 17px 30px;
    }
}