.form {
    padding: 126px 0 60px 0;
    background: #FCF8F8;
}

.forma {
    border: 2px solid #99CA00;
    border-radius: 40px;
    width: 319px;
    height: 79px;
}

.forms {
    padding: 155px 0;
    background: url(../img/form_leave_1.webp) no-repeat 0 0, url(../img/form_leave_2.webp) no-repeat 100% 86%;
}

.form_name, .form_tel {
    padding: 27px 0 27px 41px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.09em;
    color: #99CA00;
    background: #FCF8F8;
}

.form_name:focus, .form_tel:focus {
    outline: none;
}

.form_name::placeholder, .form_tel::placeholder {
    color: #99CA00;
}

.form_name {
    margin-right: 31px;
}

.form_tel {
    margin-right: 57px;
}

.form_btn {
    background: linear-gradient(90deg, #C5E50A 0%, #83A916 100%), #99CA00;
    border-radius: 40px;
    border: none;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form {
        padding-top: 80px;
    }

    .forma {
        width: 279px;
        height: 64px;
        font-size: 19px;
    }

    .forms {
        padding: 130px 0;
        background: url(../img/form_leave_1.webp) no-repeat 0 -20%, url(../img/form_leave_2.webp) no-repeat 100% 100%;
    }
}

@media (max-width: 768px) {

    .forma {
        display: block;
        width: 257px;
        margin: 0 auto;
    }

    .form_name {
        margin-bottom: 40px;
    }

    .form_tel {
        margin-bottom: 65px;
    }

    .forms {
        background: #FFFFFF;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        width: 315px;
        height: 387px;
        margin: 50px auto 0 auto;
        padding: 40px 29px;
    }


}