.header {
    margin-bottom: 145px;
}

.header_nav_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header_nav_ul li {
    display: inline;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.header_nav_ul li a {
    text-decoration: none;
}

.header_nav_ul_li_a_logo {
    margin-right: 165px;
    font-size: 36px;
    line-height: 39px;
    color: #FB9848;
}

.header_nav_ul_li_a, .header_nav_ul_li_p {
    color: #425831;
}

.header_nav_ul_li_a_number {
    color: #FB9848;
}

.header_nav_ul li:last-child {
    margin-left: 165px;
}

.header_slogon {
    margin-bottom: 145px;
}

.header_h1 {
    margin-top: 130px;
    font-size: 48px;
    line-height: 52px;
    color: #6D7F1F;
}

.header_p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 33px;
    color: #FB9848;
}

.header_btn {
    display: block;
    text-decoration: none;
    margin-top: 220px;
    margin-left: 65px;
    font-size: 24px;
    line-height: 30px;
    color: #425831;
    padding: 17px 45px;
    background: linear-gradient(90deg, #FFBB54 16.04%, #FB9848 100%);
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.34);
    border-radius: 40px;
    width: 321px;
    text-align: center;
}

.header_img {
    height: 100%;
    width: 574px;
}

.toggle_ {
    color: #FB9848;
}

@media (max-width: 1024px) and (min-width: 992px) {
    .header {
        margin-bottom: 0;
    }

    .header_nav_ul_li_a_logo {
        margin-right: 90px;
    }

    .header_nav_ul li:last-child {
        margin-left: 90px;
    }

    .header_btn {
        margin-left: 0;
        margin-top: 105px;
    }

    .header_img {
        width: 500px;
    }
}

@media (max-width: 991px) {        
    .header_h1 {
        margin-top: 80px;
        font-size: 36px;
        line-height: 39px;
    }

    .header_img {
        width: 370px;
    }

    .header_btn {
        margin-left: 0;
        margin-top: 100px;
    }

    .header_nav {
        display: none;
    }

    .wrap {
        display: block;
    }

    .mobile_ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        align-items: center;
    }

    .mobile_ul .logo {
        font-size: 36px;
        line-height: 39px;
        color: #FB9848;
    }

    .mobile_ul ~ a {
        text-decoration: none;
    }

    .header_nav_ul_li_a, .header_nav_ul_li_p, .header_nav_ul_li_a_number {
        text-decoration: none;
    }

    .wrap {
        position: relative;
        padding: 15px;
    }
    
    .mobile_ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .toggle {
        display: none;
    }
    
    .mobile_menu {
        width: 720px;
        height: 100px;
        position: absolute;
        top: 70px;
        right: 0;
        list-style: none;
        text-align: end;
    }
    
    .mobile_menu li:nth-child(n+1) {
        position: absolute;
        transition: 1s;
        right: 15px;
        opacity: 0;
        cursor: alias;
    }
    
    .mobile_menu li:nth-child(1) {
        transition-delay: 0s;
        top: 0;
    }
    
    .mobile_menu li:nth-child(2) {
        transition-delay: 0.2s;
        top: 20px;
    }
    
    .mobile_menu li:nth-child(3) {
        transition-delay: 0.4s;
        top: 40px;
    }
    
    .mobile_menu li:nth-child(4) {
        transition-delay: 0.6s;
        top: 60px;
    }
    
    .toggle:checked ~ .mobile_menu li:nth-child(n+1) {
        display: inline;
        opacity: 1;
    }
 }